@font-face {
  font-family: "poppins-regular";
  src: url(../assets/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "poppins-medium";
  src: url(../assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "poppins-semibold";
  src: url(../assets/fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "poppins-extrabold";
  src: url(../assets/fonts/Poppins-ExtraBold.ttf);
}
@font-face {
  font-family: "poppins-mediumItalic";
  src: url(../assets/fonts/Poppins-MediumItalic.ttf);
}
.fs-md {
  font-size: 0.875rem !important;
}
@media screen and (max-width: 1600px) {
  .fs-md {
    font-size: 0.8125rem !important;
  }
}

.fw-semibold {
  font-family: "poppins-semibold" !important;
}

.fw-medium.font-italic {
  font-family: "poppins-mediumItalic" !important;
}

.fw-medium {
  font-family: "poppins-medium" !important;
}

.fs-sm {
  font-size: 0.7rem !important;
}
@media screen and (max-widtH: 1600px) {
  .fs-sm {
    font-size: 0.6375rem !important;
  }
}

.form-control {
  font-size: inherit;
}

.text-primary {
  color: #006d2c !important;
}

.text-primary-dark {
  color: #00531d !important;
}

.border-bottom {
  border-bottom: 1px solid #47567b !important;
}

.text-danger {
  color: #e9082e !important;
}

@media screen and (min-width: 1600px) {
  .ps-xxxl-5 {
    padding-right: 3rem !important;
  }
}

@media screen and (min-width: 1600px) {
  .py-xxxl-4 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }
}

.bfti-topbar {
  background-color: #d4e6db;
  padding: 0.125rem 0;
}

.bfti-navbar .navmenu-container {
  background-color: #387e52;
}
.bfti-navbar .navmenu-container .container .nav-toggle {
  display: none;
}
.bfti-navbar .navmenu-container .container .nav-menu {
  background-color: #006d2c;
}
.bfti-navbar .navmenu-container .container .nav-menu ul {
  position: relative;
  display: flex;
}
.bfti-navbar .navmenu-container .container .nav-menu ul li {
  position: relative;
  list-style: none;
}
.bfti-navbar .navmenu-container .container .nav-menu ul li a {
  color: #eee;
  padding: 0.75rem 1.25rem;
}
.bfti-navbar .navmenu-container .container .nav-menu ul li a i {
  margin-left: 0.5rem;
  font-size: 0.75rem;
}
.bfti-navbar .navmenu-container .container .nav-menu ul li a:hover {
  background-color: #00531d;
  color: #fff;
}
.bfti-navbar .navmenu-container .container .nav-menu ul li ul {
  min-width: 100%;
  z-index: 99;
  display: none;
  position: absolute;
  left: 0;
  background-color: #fff;
  box-shadow: 0 3px 5px 0 rgba(0, 109, 44, 0.5);
}
.bfti-navbar .navmenu-container .container .nav-menu ul li ul li {
  width: 100%;
  position: relative;
}
.bfti-navbar .navmenu-container .container .nav-menu ul li ul li a {
  width: 100%;
  border-bottom: 1px solid rgba(0, 109, 44, 0.25);
  background-color: #fff;
  color: #006d2c;
  text-wrap: nowrap;
}
.bfti-navbar .navmenu-container .container .nav-menu ul li ul li ul {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
}
.bfti-navbar .navmenu-container .container .nav-menu ul li:hover > ul {
  display: block;
}
@media screen and (min-width: 991px) {
  .bfti-navbar .navmenu-container .container .nav-menu ul .nav-item {
    position: relative;
  }
  .bfti-navbar .navmenu-container .container .nav-menu ul .nav-item::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 0 solid #fff;
  }
  .bfti-navbar .navmenu-container .container .nav-menu ul .nav-item:hover::after {
    border-top-width: 7px;
  }
}
@media screen and (max-width: 768px) {
  .bfti-navbar .bfti-slogan {
    font-size: 1rem;
  }
}

@media screen and (max-width: 992px) {
  .navmenu-container.active .nav-toggle {
    padding: 1rem 1rem 0.5rem;
  }
  .navmenu-container.active .nav-toggle .nav__open {
    display: none;
  }
  .navmenu-container.active .nav-toggle .nav__close {
    display: block;
  }
  .navmenu-container.active .nav-menu {
    display: block;
  }
  .nav-toggle {
    padding: 1rem;
    display: flex !important;
    justify-content: space-between;
    background-color: #006d2c;
  }
  .nav-toggle a {
    color: #fff;
  }
  .nav-toggle button {
    border: none;
    background-color: transparent;
  }
  .nav-toggle button .nav__open {
    display: block;
  }
  .nav-toggle button .nav__close {
    display: none;
  }
  .nav-menu {
    display: none;
  }
  .nav-menu ul {
    flex-direction: column;
  }
  .nav-menu ul li {
    width: 100%;
  }
  .nav-menu ul li a {
    width: 100%;
  }
  .nav-menu ul li ul {
    box-shadow: none !important;
    position: relative !important;
  }
  .nav-menu ul li ul li ul {
    left: 0 !important;
  }
  .nav-menu ul li ul li ul li a {
    padding-left: 3rem !important;
  }
}
.footer a {
  color: #fff;
}
.footer a:hover {
  color: #d4e6db;
}
.footer .footer-body {
  background-color: #006d2c;
  color: #fff;
  padding-bottom: 2.75rem;
}
.footer .footer-body h4 {
  margin-top: 2.75rem;
  margin-bottom: 2rem;
}
.footer .footer-body ul > li {
  margin-bottom: 0.75rem;
  font-size: 0.875rem;
}
@media screen and (max-width: 991px) {
  .footer .footer-body ul > li {
    font-size: 0.8125rem;
  }
}
.footer .footer-body ul > li button {
  padding: 0.25rem 1rem;
  font-size: 0.875rem;
}
@media screen and (max-width: 991px) {
  .footer .footer-body ul > li button {
    font-size: 0.8125rem;
  }
}
.footer .copyright {
  padding: 2rem 0;
  background-color: #00531d;
}

.sidebar-cats li,
.sidebar-about li {
  margin-bottom: 1.55rem;
}
.sidebar-cats li a,
.sidebar-about li a {
  color: #132656;
  font-family: "poppins-semibold";
}

.sidebar-cats,
.sidebar-shortcuts {
  margin-top: 3rem;
  background-color: #006d2c;
  border-radius: 0.75rem;
  padding: 1.5rem 2.5rem 1.5rem 0;
}
.sidebar-cats h4,
.sidebar-shortcuts h4 {
  margin: 0.5rem 0 1.25rem;
  padding-left: 1.5rem;
  color: #fff;
}
.sidebar-cats li,
.sidebar-shortcuts li {
  margin: 0.125rem 0;
  width: 100%;
  padding: 0.52rem 0 0.52rem 1.5rem;
  position: relative;
}
@media screen and (min-width: 1600px) {
  .sidebar-cats li,
  .sidebar-shortcuts li {
    margin: 0.25rem 0;
  }
}
.sidebar-cats li a,
.sidebar-shortcuts li a {
  font-family: "poppins-regular";
  color: #fff;
}
.sidebar-cats li::after,
.sidebar-shortcuts li::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-left: 0 solid rgba(255, 255, 255, 0.35);
  border-bottom: 8px solid transparent;
}
.sidebar-cats li:hover,
.sidebar-shortcuts li:hover {
  background-color: #00531d;
}
.sidebar-cats li:hover a,
.sidebar-shortcuts li:hover a {
  color: #d4e6db;
}
.sidebar-cats li:hover::after,
.sidebar-shortcuts li:hover::after {
  border-left: 8px solid rgba(255, 255, 255, 0.35);
}

.sidebar-cats {
  border-radius: 0.5rem;
  margin-top: 6rem;
}
@media screen and (max-width: 991px) {
  .sidebar-cats {
    margin-top: 1rem;
  }
}
.sidebar-cats li {
  margin: 1rem 0;
}

.sidebar-directors {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.sidebar-directors .director-thumb {
  height: 100%;
  border-radius: 0.5rem;
  background-color: #d4e6db;
  padding: 0.75rem;
}
.sidebar-directors .w-35 {
  width: 35%;
  padding-right: 1rem;
}
.sidebar-directors .w-35 img {
  border: 1px solid #7ac696;
}
.sidebar-directors .w-65 {
  width: 65%;
}
.sidebar-directors .w-65 small {
  color: #00a643;
  font-family: "poppins-medium";
  font-size: 0.625rem;
}
.sidebar-directors .w-65 p {
  margin-bottom: 0;
  font-family: "poppins-semibold";
  color: #132656;
  font-size: 0.75rem;
}
.sidebar-directors .director-thumb-info {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  font-family: "poppins-medium";
  color: #132656;
}
@media screen and (min-width: 991px) {
  .sidebar-directors {
    margin-top: 6rem;
  }
}

.sidebar-publication {
  margin-top: 3.5rem;
  padding: 1.25rem 3rem 1.25rem 0;
  border: 1px solid #006d2c;
  border-radius: 0.5rem;
}
.sidebar-publication li {
  position: relative;
  margin-bottom: 1.15rem;
  width: 100%;
  padding: 0.52rem 0 0.52rem 1.25rem;
}
.sidebar-publication li a {
  color: #1b1b22;
}
.sidebar-publication li:hover {
  background-color: #006d2c;
}
.sidebar-publication li:hover a {
  color: #fff;
}
.sidebar-publication li:hover::after {
  border-left: 8px solid #fff;
}
.sidebar-publication li:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 0px solid #fff;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
.sidebar-publication li:last-child {
  margin-bottom: 0;
}

.form-control:focus {
  box-shadow: none;
  border-color: #006d2c;
}

.btn-primary {
  color: #fff;
  background-color: #006d2c;
  border-color: #006d2c;
}
.btn-primary:hover {
  background-color: #00531d;
  border-color: #00531d;
}

.btn-danger {
  background-color: #cc0000;
  border-color: #cc0000;
}
.btn-danger:hover {
  background-color: #af0d0d;
  border-color: #af0d0d;
}

.dropdown-toggle {
  font-size: 0.875rem;
}

.accordion .accordion-item {
  margin-bottom: 1rem;
  border-color: transparent;
}
.accordion .accordion-item .accordion-button {
  padding: 0.75rem 1rem;
  border-radius: 0.15rem !important;
  color: #fff;
  background-color: #006d2c;
}
.accordion .accordion-item .accordion-button::after {
  background-image: url(../../bfti-project/assets/icons/arrow-down.svg);
}
.accordion .accordion-item .accordion-button:focus {
  box-shadow: none;
}

.bfti-history,
.bfti-mission,
.bfti-vision {
  border-bottom: 1px solid #47567b;
}
.bfti-history h4,
.bfti-mission h4,
.bfti-vision h4 {
  margin-bottom: 2rem;
  color: #132656;
}

.bfti-history {
  padding-bottom: 2.5rem;
  padding-top: 0;
}
@media screen and (min-width: 768px) {
  .bfti-history {
    padding-top: 1.5rem;
  }
}

.bfti-mission {
  padding: 2.5rem 0;
}

.bfti-vision {
  border-bottom: none;
  padding: 2.5rem 0 0;
}
@media screen and (min-width: 768px) {
  .bfti-vision {
    padding: 2.5rem 0 4rem;
  }
}

#training .training-banner h1 {
  padding: 9.5rem 0;
  background-image: url(../../bfti-project/assets/images/events/event-main-banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
}
#training .training-body h4,
#training .training-body h5,
#training .training-body h6 {
  color: #132656;
}
#training .training-card {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #47567b;
}
#training .training-card p {
  font-family: "poppins-semibold";
}
#training .training-card h4 {
  color: #132656;
  margin-bottom: 2.5rem;
}
#training .training-card div:last-child p {
  color: #132656;
}
#training .training-card:last-child {
  border-bottom: none;
}
#training .col-lg-4:last-child .training-card {
  margin-bottom: 0;
}
#training .pagination-container {
  border-bottom: 1px solid #47567b;
}

#training-details {
  margin-bottom: 2rem;
}
#training-details .training-status {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
#training-details .related-training-card a {
  font-size: 1.125rem;
  color: #132656;
  font-family: "poppins-semibold";
  margin: 1rem 0;
}
#training-details .related-training-card p {
  padding-left: 0.5rem;
  color: #fff;
  font-family: "poppins-medium";
}
#training-details .related-training-card p.open-badge {
  background-image: url(../../bfti-project/assets/images/training/badge.png);
  background-repeat: no-repeat;
  background-size: contain;
}
#training-details .related-training-card p.close-badge {
  background-image: url(../../bfti-project/assets/images/training/close-badge.png);
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (min-width: 991px) {
  #training-details {
    margin-bottom: 4rem;
  }
}

#home .sidebar-shortcuts {
  border-radius: 0;
  margin-top: 1rem;
}
@media screen and (min-width: 991px) {
  #home .sidebar-shortcuts {
    margin-top: 0;
  }
}
#home .banner {
  padding: 1rem 0;
  background-color: #f5f6fa;
}
#home .banner .banner-middle {
  background-color: #006d2c;
}
#home .banner .banner-middle div > p {
  padding: 0.75rem 1rem;
  font-size: 0.75rem;
  background-color: #05441e;
  color: #fff;
  margin-bottom: 0;
  margin-top: 1rem;
}
#home .banner .banner-middle .slick-track,
#home .banner .banner-middle .slick-list {
  height: 100% !important;
}
#home .banner .banner-middle .slick-slide {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#home .banner .banner-middle .banner-event-date {
  align-items: center;
  padding: 1rem 1rem 0.35rem;
}
#home .banner .banner-middle .banner-event-date span {
  font-size: 0.75rem;
  font-family: "poppins-medium";
  color: #fff;
}
#home .banner .banner-middle .banner-event-date span:last-child {
  margin-left: 1rem;
  padding: 0.15rem 1rem;
  background-color: #cc0000;
  border-radius: 0.125rem;
}
#home .banner .banner-middle a {
  padding: 0 1rem;
}
#home .banner .banner-middle a h4 {
  width: 95%;
}
#home .banner .banner-middle a span {
  text-align: right;
  width: 15%;
}
#home .banner .banner-middle .banner-img-container {
  padding: 0 1rem;
}
#home .banner .slider-button {
  z-index: 999999999;
  position: absolute;
  bottom: 52px;
  right: 36px;
}
#home .banner .bfti-updates {
  background-color: #aedfc5;
  padding: 1rem 0.75rem 0.75rem;
  height: 100%;
}
#home .banner .bfti-updates h4 {
  color: #00531d;
}
#home .banner .bfti-updates .update-card-container {
  overflow-y: auto;
  max-height: 69vh;
}
#home .banner .bfti-updates .update-card-container .update-card {
  margin-bottom: 0.5rem;
  font-size: 0.8125rem;
  padding: 0.75rem;
  border: 1px solid #7ac696;
  border-left-width: 6px;
  background-color: #fff;
  color: #132656;
}
#home .banner .bfti-updates .update-card-container .update-card:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 991px) {
  #home .banner {
    padding: 1rem 0 3rem;
  }
}
#home .common-title {
  margin-top: 2rem;
  margin-bottom: 1.25rem;
}
#home .common-title h4 {
  color: #132656;
}
#home .common-title h4::after {
  background-color: #00a643;
}
#home .scrolling-news span {
  font-family: "poppins-semibold";
  color: #A13D3D;
}
#home .scrolling-news a {
  color: #23292e;
  font-family: "poppins-semibold";
}
#home .home-card {
  margin-bottom: 1.5rem;
}
#home .home-card .d-flex span {
  color: #fff;
  font-family: "poppins-medium";
  padding: 0.075rem 0.75rem;
  font-size: 0.75rem;
  border-radius: 3px;
}
#home .home-card .d-flex span:first-child {
  background-color: #006d2c;
  margin-right: 0.5rem;
}
#home .home-card .d-flex span:last-child {
  background-color: #cc0000;
}
#home .home-card h5 {
  color: #132656;
  margin-bottom: 1.75rem;
}
#home .home-card .read-more {
  background-color: #006d2c;
  padding: 0.35rem 1.25rem;
  font-size: 0.875rem;
  color: #fff;
  border: none;
}
#home .home-card .read-more:hover, #home .home-card .read-more:focus {
  background-color: #00531d;
}
#home .home-thumb {
  padding-bottom: 0.5rem;
  width: 100%;
}
#home .home-thumb h6 {
  color: #132656;
  margin-bottom: 0.25rem;
}
#home .home-thumb span {
  color: #006d2c;
  font-size: 0.6875rem;
}
#home .home-thumb .read-more {
  border: 1px solid #006d2c;
  color: #006d2c;
  background-color: #fff;
  padding: 0.125rem 0.5rem;
  font-size: 0.75rem;
}
#home .home-thumb .read-more:hover {
  background-color: #006d2c;
  color: #fff;
}
#home .home-thumb .row {
  padding-right: 0.75rem;
}
#home .home-thumb .col-8 {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(71, 86, 123, 0.5);
}
#home .home-thumb:last-child .col-8 {
  border-bottom: none;
}
@media screen and (min-width: 576px) {
  #home .home-thumb {
    width: 50%;
  }
  #home .home-thumb:last-child .col-8 {
    border-bottom: 1px solid rgba(71, 86, 123, 0.5);
  }
}
@media screen and (min-width: 991px) {
  #home .home-thumb {
    width: 100%;
  }
  #home .home-thumb:last-child .col-8 {
    border-bottom: none;
  }
}
#home .partners {
  padding-bottom: 3rem;
}
#home .partners h4 {
  margin: 2rem 0;
  text-align: center;
  color: #132656;
}
#home .partners .d-flex div {
  width: 33.3333333333%;
}
#home .partners .d-flex div img {
  width: 100%;
  max-height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (min-width: 991px) {
  #home .partners .d-flex div {
    width: 20%;
  }
}
@media screen and (min-width: 1200px) {
  #home .partners .d-flex div {
    width: 14.2857142857%;
  }
}

@media screen and (min-width: 991px) {
  #category {
    margin-bottom: 5rem;
  }
}
#category .col-lg-4 .category-card {
  margin-bottom: 3rem;
}
#category .col-lg-4 .category-card div {
  display: flex;
  flex-wrap: wrap;
}
#category .col-lg-4 .category-card div span {
  font-family: "poppins-medium";
  color: #fff;
  padding: 0.125rem 0.5rem;
  font-size: 0.7rem;
}
#category .col-lg-4 .category-card div span:first-child {
  margin-right: 0.25rem;
  color: #fff;
  background-color: #006d2c;
}
#category .col-lg-4 .category-card div span:last-child {
  background-color: #cc0000;
}
#category .col-lg-4 .category-card h5 {
  color: #132656;
  margin-bottom: 1.75rem;
  font-size: 1.125rem;
}
#category .col-lg-4 .category-card .read-more {
  font-family: "poppins-medium";
  background-color: #d4e6db;
  color: #006d2c;
  border: none;
  padding: 0.25rem 0.75rem;
  border-radius: 0.125rem;
}
#category .col-lg-4:last-child .category-card {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  #category .col-lg-4:last-child .category-card {
    margin-bottom: 3rem;
  }
}

.post-title h1 {
  color: #132656;
}
@media screen and (max-width: 1200px) {
  .post-title h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 991px) {
  .post-title h1 {
    font-size: 1.65rem;
  }
}
@media screen and (max-width: 768px) {
  .post-title h1 {
    font-size: 1.25rem;
  }
}
.post-title div {
  padding: 1.5rem 0 2.5rem;
}
.post-title div span {
  font-family: "poppins-medium";
  color: #fff;
  padding: 0.125rem 0.5rem;
  font-size: 0.7rem;
}
.post-title div span:first-child {
  margin-right: 0.25rem;
  color: #fff;
  background-color: #006d2c;
}
.post-title div span:last-child {
  background-color: #cc0000;
}

.post-body {
  margin-bottom: 2rem;
}
.post-body .post-body-container p {
  margin-bottom: 2rem;
}
.post-body .post-body-container p span {
  font-family: "poppins-extrabold";
}
.post-body .post-body-container p:first-child {
  margin-top: 2rem;
}
.post-body .post-body-container blockquote {
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 0.75rem;
  background-color: #d4e6db;
  color: #006d2c;
  font-family: "poppins-mediumItalic";
}

.post-share h5 {
  color: #132656;
  font-size: 1.125rem;
}
.post-share a {
  color: #fff;
  border-radius: 0.125rem;
  margin-right: 0.5rem;
  background-color: #006d2c;
  font-family: "poppins-semibold";
  font-size: 0.875rem;
}
.post-share a.share-facebook {
  background-color: #38559c;
}
.post-share a.share-tweet {
  background-color: #00aaf3;
}
.post-share a.share-google-plus {
  background-color: #e14929;
}
.post-share a.share-pinterest {
  background-color: #cb1f20;
}

.post-card {
  margin-bottom: 3rem;
}
.post-card div {
  display: flex;
  flex-wrap: wrap;
}
.post-card div span {
  font-family: "poppins-medium";
  color: #fff;
  padding: 0.125rem 0.5rem;
  font-size: 0.7rem;
}
.post-card div span:first-child {
  margin-right: 0.25rem;
  color: #fff;
  background-color: #006d2c;
}
.post-card div span:last-child {
  background-color: #cc0000;
}
.post-card h5 {
  color: #132656;
  margin-bottom: 1.75rem;
  font-size: 1.125rem;
}
.post-card .read-more {
  font-family: "poppins-medium";
  background-color: #006d2c;
  color: #fff;
  border: none;
  padding: 0.25rem 0.75rem;
  border-radius: 0.125rem;
}

#partners h5 {
  margin-bottom: 2.75rem;
}
#partners .partner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: 0 5px 10px rgba(0, 109, 44, 0.15);
  text-align: center;
  padding: 2.5rem 2rem;
  border: 1px solid transparent;
}
#partners .partner-container img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 80px;
}
#partners .partner-container:hover {
  border-color: rgba(0, 109, 44, 0.5);
}
@media screen and (min-width: 991px) {
  #partners {
    margin-bottom: 4rem;
  }
}

.director-container .director-card,
.director-container .team-card,
.team-container .director-card,
.team-container .team-card {
  margin-bottom: 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid #47567b;
}
.director-container .director-card .director-img,
.director-container .director-card .team-img,
.director-container .team-card .director-img,
.director-container .team-card .team-img,
.team-container .director-card .director-img,
.team-container .director-card .team-img,
.team-container .team-card .director-img,
.team-container .team-card .team-img {
  position: relative;
  padding: 2rem;
  z-index: 0;
}
.director-container .director-card .director-img::after,
.director-container .director-card .team-img::after,
.director-container .team-card .director-img::after,
.director-container .team-card .team-img::after,
.team-container .director-card .director-img::after,
.team-container .director-card .team-img::after,
.team-container .team-card .director-img::after,
.team-container .team-card .team-img::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background-color: #d4e6db;
  z-index: -1;
}
@media screen and (min-width: 576px) {
  .director-container .director-card,
  .director-container .team-card,
  .team-container .director-card,
  .team-container .team-card {
    flex-direction: row;
    text-align: left;
  }
}
.director-container .director-card .director-detail,
.director-container .director-card .team-detail,
.director-container .team-card .director-detail,
.director-container .team-card .team-detail,
.team-container .director-card .director-detail,
.team-container .director-card .team-detail,
.team-container .team-card .director-detail,
.team-container .team-card .team-detail {
  padding: 2rem 0;
}
.director-container .director-card .director-detail p,
.director-container .director-card .team-detail p,
.director-container .team-card .director-detail p,
.director-container .team-card .team-detail p,
.team-container .director-card .director-detail p,
.team-container .director-card .team-detail p,
.team-container .team-card .director-detail p,
.team-container .team-card .team-detail p {
  margin-bottom: 0;
  font-size: 0.9375rem;
}
.director-container .director-card .director-detail p.director-designation, .director-container .director-card .director-detail p.team-designation,
.director-container .director-card .team-detail p.director-designation,
.director-container .director-card .team-detail p.team-designation,
.director-container .team-card .director-detail p.director-designation,
.director-container .team-card .director-detail p.team-designation,
.director-container .team-card .team-detail p.director-designation,
.director-container .team-card .team-detail p.team-designation,
.team-container .director-card .director-detail p.director-designation,
.team-container .director-card .director-detail p.team-designation,
.team-container .director-card .team-detail p.director-designation,
.team-container .director-card .team-detail p.team-designation,
.team-container .team-card .director-detail p.director-designation,
.team-container .team-card .director-detail p.team-designation,
.team-container .team-card .team-detail p.director-designation,
.team-container .team-card .team-detail p.team-designation {
  font-family: "poppins-medium";
  color: #00a643;
}
.director-container .director-card .director-detail p.director-info, .director-container .director-card .director-detail p.team-info,
.director-container .director-card .team-detail p.director-info,
.director-container .director-card .team-detail p.team-info,
.director-container .team-card .director-detail p.director-info,
.director-container .team-card .director-detail p.team-info,
.director-container .team-card .team-detail p.director-info,
.director-container .team-card .team-detail p.team-info,
.team-container .director-card .director-detail p.director-info,
.team-container .director-card .director-detail p.team-info,
.team-container .director-card .team-detail p.director-info,
.team-container .director-card .team-detail p.team-info,
.team-container .team-card .director-detail p.director-info,
.team-container .team-card .director-detail p.team-info,
.team-container .team-card .team-detail p.director-info,
.team-container .team-card .team-detail p.team-info {
  color: #132656;
  font-family: "poppins-medium";
}
.director-container .director-card .director-detail p.director-info a, .director-container .director-card .director-detail p.team-info a,
.director-container .director-card .team-detail p.director-info a,
.director-container .director-card .team-detail p.team-info a,
.director-container .team-card .director-detail p.director-info a,
.director-container .team-card .director-detail p.team-info a,
.director-container .team-card .team-detail p.director-info a,
.director-container .team-card .team-detail p.team-info a,
.team-container .director-card .director-detail p.director-info a,
.team-container .director-card .director-detail p.team-info a,
.team-container .director-card .team-detail p.director-info a,
.team-container .director-card .team-detail p.team-info a,
.team-container .team-card .director-detail p.director-info a,
.team-container .team-card .director-detail p.team-info a,
.team-container .team-card .team-detail p.director-info a,
.team-container .team-card .team-detail p.team-info a {
  color: #132656;
}
.director-container .director-card .director-detail h3,
.director-container .director-card .team-detail h3,
.director-container .team-card .director-detail h3,
.director-container .team-card .team-detail h3,
.team-container .director-card .director-detail h3,
.team-container .director-card .team-detail h3,
.team-container .team-card .director-detail h3,
.team-container .team-card .team-detail h3 {
  color: #132656;
  margin: 0.5rem 0 2rem;
}
@media screen and (min-width: 576px) {
  .director-container .director-card .director-detail,
  .director-container .director-card .team-detail,
  .director-container .team-card .director-detail,
  .director-container .team-card .team-detail,
  .team-container .director-card .director-detail,
  .team-container .director-card .team-detail,
  .team-container .team-card .director-detail,
  .team-container .team-card .team-detail {
    padding: 0 0 0 2rem;
  }
}
@media screen and (min-width: 991px) {
  .director-container,
  .team-container {
    padding-bottom: 5rem;
  }
}

#research .research-card-container {
  margin-bottom: 4rem;
}
#research .research-card-container .research-card {
  padding: 2.5rem 0;
  border-bottom: 1px solid #47567b;
}
#research .research-card-container .research-card .col-md-8 div {
  display: flex;
  flex-wrap: wrap;
}
#research .research-card-container .research-card .col-md-8 div span {
  font-family: "poppins-medium";
  color: #fff;
  padding: 0.125rem 0.5rem;
  font-size: 0.7rem;
}
#research .research-card-container .research-card .col-md-8 div span:first-child {
  margin-right: 0.25rem;
  color: #fff;
  background-color: #006d2c;
}
#research .research-card-container .research-card .col-md-8 div span:last-child {
  background-color: #cc0000;
}
#research .research-card-container .research-card .col-md-8 h5 {
  color: #132656;
}
#research .research-card-container .research-card .col-md-8 .read-more {
  font-family: "poppins-medium";
  background-color: #d4e6db;
  color: #006d2c;
  border: none;
  padding: 0.25rem 0.75rem;
  border-radius: 0.125rem;
}
#research .research-card-container .research-card:first-child {
  padding-top: 0;
}
#research .research-card-container .research-card:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
#research .research-card-grid .col-lg-4:last-child .research-card {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  #research .research-card-grid .col-lg-4:nth-last-child(-n+3) .research-card {
    margin-bottom: 0;
  }
}
#research .research-card-grid .research-card {
  margin-bottom: 3rem;
}
#research .research-card-grid .research-card div {
  display: flex;
  flex-wrap: wrap;
}
#research .research-card-grid .research-card div span {
  font-family: "poppins-medium";
  color: #fff;
  padding: 0.125rem 0.5rem;
  font-size: 0.7rem;
}
#research .research-card-grid .research-card div span:first-child {
  margin-right: 0.25rem;
  color: #fff;
  background-color: #006d2c;
}
#research .research-card-grid .research-card div span:last-child {
  background-color: #cc0000;
}
#research .research-card-grid .research-card h5 {
  font-size: 1.125rem;
  color: #132656;
  margin-bottom: 1.5rem;
}
#research .research-card-grid .research-card button {
  font-family: "poppins-medium";
  background-color: #d4e6db;
  color: #006d2c;
  border: none;
  padding: 0.25rem 0.75rem;
  border-radius: 0.125rem;
}

#events {
  margin-bottom: 3rem;
}
#events .event-banner {
  position: relative;
  z-index: 0;
}
#events .event-banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  top: 0;
  left: 0;
  position: absolute;
}
#events .event-banner h1 {
  padding: 9.5rem 0;
  text-align: center;
  color: #fff;
}
#events .pagination-container {
  padding-bottom: 2.5rem;
  border-bottom: 1px solid #47567b;
}
#events .events-container .event-card {
  padding: 2.5rem 0;
  border-bottom: 1px solid #47567b;
}
#events .events-container .event-card .event-category > span {
  font-family: "poppins-medium";
  font-size: 0.875rem;
}
#events .events-container .event-card .event-category > span.event-organizer {
  color: #132656;
}
#events .events-container .event-card .event-category > span.event-organizer span:first-child {
  margin-right: 0.5rem;
  color: #e9082e;
}
#events .events-container .event-card h4 {
  color: #132656;
}
#events .events-container .event-card .event-detail p {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  font-family: "poppins-semibold";
  color: #132656;
}
@media screen and (min-width: 1200px) {
  #events .events-container .event-card .event-detail p {
    font-size: 1rem;
  }
}
#events .events-container .event-card .event-detail p img {
  margin-right: 0.5rem;
}
#events .events-container .event-card:last-child {
  border-bottom: none;
}
@media screen and (min-width: 991px) {
  #events {
    margin-bottom: 5rem;
  }
}

.related-event-card a {
  font-size: 1.125rem;
  color: #132656;
  font-family: "poppins-semibold";
  margin: 0.7rem 0 1rem;
}
@media screen and (max-width: 1600px) {
  .related-event-card a {
    font-size: 1rem;
  }
}
.related-event-card p {
  padding-left: 0.5rem;
  color: #fff;
  font-family: "poppins-medium";
}
.related-event-card p.open-badge {
  background-image: url(../../bfti-project/assets/images/training/badge.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.related-event-card p.close-badge {
  background-image: url(../../bfti-project/assets/images/training/close-badge.png);
  background-repeat: no-repeat;
  background-size: contain;
}

#about-us bfti-sidebar-directors .sidebar-directors {
  margin-top: 3rem;
}
#about-us .special-about {
  margin: 1.5rem 0;
  background-color: #006d2c;
  border-radius: 0.5rem;
  padding: 2rem 1rem;
}
#about-us .special-about .special-about-text {
  position: relative;
  margin-bottom: 0;
  padding-top: 2rem;
  color: #fff;
  font-size: 1.175rem;
}
#about-us .special-about .special-about-text:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  background-color: #7ac696;
}
#about-us .special-about .special-about-text:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60%;
  background-color: #7ac696;
}
@media screen and (min-width: 768px) {
  #about-us .special-about {
    margin: 2rem 0;
    padding: 2.5rem;
  }
  #about-us .special-about .special-about-text {
    padding: 2rem 0;
  }
  #about-us .special-about .special-about-text::after, #about-us .special-about .special-about-text::before {
    height: 2px;
  }
}
@media screen and (min-width: 991px) {
  #about-us .special-about {
    margin: 4.5rem 0;
    padding: 4rem 1.5rem;
  }
  #about-us .special-about .special-about-text {
    font-size: 1.125rem;
  }
}

#bfti-hmv .sidebar-shortcuts {
  margin-top: 1.5rem;
}

.gallery-container {
  padding-bottom: 2rem;
}
.gallery-container p {
  font-size: 0.875rem;
  font-family: "poppins-semibold";
}
.gallery-container .gallery-video {
  position: relative;
}
.gallery-container .gallery-video a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gallery-container .gallery-video a img {
  height: 60px;
}
@media screen and (min-width: 991px) {
  .gallery-container .gallery-video a img {
    height: 80px;
  }
}
@media screen and (min-width: 991px) {
  .gallery-container {
    padding-bottom: 4rem;
  }
}

#trade-data {
  margin-bottom: 3rem;
}
#trade-data .col-lg-9 .common-title {
  margin-top: 3.2rem;
}

#contact {
  margin-bottom: 4rem;
}
#contact .contact-detail {
  padding: 3rem 1.75rem;
}
#contact .location-map,
#contact .contact-detail {
  border: 1px solid #387e52;
}
#contact .location-map {
  overflow: hidden;
}
@media screen and (max-width: 991px) {
  #contact .location-map iframe {
    min-height: 200px;
  }
}
#contact .contact-form {
  padding: 2.25rem 2.15rem;
  background-color: #00531d;
}
@media screen and (max-width: 991px) {
  #contact .contact-form {
    margin-top: 3rem;
  }
}
#contact .contact-form h5 {
  text-align: center;
  color: #fff;
  margin-bottom: 2rem;
}
#contact .contact-form input,
#contact .contact-form textarea {
  margin-bottom: 1rem;
  border-radius: 0.15rem;
  font-size: 0.875rem;
}
#contact .contact-form button {
  font-size: 0.875rem;
  margin-top: 0.75rem;
  background-color: #cc0000;
  color: #fff;
  padding: 0.25rem 1.25rem;
  border-radius: 0.15rem;
}

#career .career-info {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}
#career .career-info strong {
  display: block;
  margin-bottom: 1rem;
  font-family: "poppins-semibold";
  font-size: 2.15rem;
}
#career .career-info p {
  margin-bottom: 2rem;
}
#career .circular-card-container {
  margin-bottom: 4rem;
}
#career .circular-card-container .circular-card {
  margin-bottom: 2rem;
  border: 1px solid #387e52;
  border-radius: 0.75rem;
  padding: 2rem 3rem;
}
#career .circular-card-container .circular-card .row span {
  font-size: 0.75rem;
}
#career .circular-card-container .circular-card a {
  margin-top: 0.25rem;
  padding: 0.25rem 2.25rem;
  border-radius: 0.25rem;
  border: none;
  color: #fff;
  background-color: #003f14;
}
#career .circular-card-container .circular-card:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  #career .circular-card-container .circular-card .row {
    margin-left: 1.25rem;
  }
  #career .circular-card-container .circular-card a {
    margin-left: 2rem;
  }
}

#career-detail {
  margin-bottom: 3rem;
}
#career-detail .career-info h3 {
  color: #132656;
}

.connect-with-us-body strong {
  display: block;
  font-family: "poppins-semibold";
  color: #006d2c;
  margin-bottom: 1.25rem;
}
.connect-with-us-body p {
  margin-bottom: 1.25rem;
}

.connect-form {
  margin: 4rem 0;
  padding: 2rem 1rem;
  background-color: #003f14;
  border-radius: 0.125rem;
}
.connect-form input {
  padding: 0.75rem 1.25rem;
  border-radius: 0.25rem;
}
@media screen and (min-width: 991px) {
  .connect-form input.email {
    width: 75%;
  }
}
.connect-form button {
  background-color: #cc0000;
  color: #fff;
  border-radius: 0.25rem;
  padding: 0.675rem 1.75rem;
}
.connect-form button:hover {
  background-color: #af0d0d;
  color: #fff;
}
.connect-form p {
  margin: 1rem 0 0;
  color: #fff;
  font-family: "poppins-medium";
}
@media screen and (min-width: 576px) {
  .connect-form {
    padding: 3rem 4.5rem;
  }
}

.policy-container {
  margin: 3rem 0;
}
.policy-container .policy-card {
  padding: 2rem 0;
  border-top: 1px solid #47567b;
}
.policy-container .policy-card p {
  font-size: 0.815rem;
}
.policy-container .policy-card p:first-child span {
  margin-right: 0.5rem;
  font-family: "poppins-medium";
}
.policy-container .policy-card p:first-child span:first-child {
  color: #e9082e;
}
.policy-container .policy-card p:first-child span:last-child {
  color: #132656;
}
.policy-container .policy-card h2 {
  margin-bottom: 1.5rem;
  color: #132656;
}
@media screen and (max-width: 768px) {
  .policy-container .policy-card h2 {
    font-size: calc(1.25rem + 0.3vw);
  }
}
.policy-container .policy-card strong {
  color: #132656;
}

.publication-container {
  margin-bottom: 3rem;
}
.publication-container .publication-card {
  display: flex;
  padding: 2.65rem 0;
  border-bottom: 1px solid #47567b;
}
.publication-container .publication-card .book-cover {
  height: 200px;
}
.publication-container .publication-card .book-cover img {
  height: 100%;
  border-radius: 0.25rem;
  box-shadow: 0 2px 6px 0 rgba(0, 109, 44, 0.35);
}
@media screen and (min-width: 991px) {
  .publication-container .publication-card .book-cover {
    height: 250px;
  }
}
.publication-container .publication-card .book-details .book-category {
  display: inline-block;
  margin-bottom: 0.75rem;
  padding: 0.075rem 0.75rem;
  border-radius: 0.25rem;
  color: #006d2c;
  border: 1px solid #006d2c;
}
@media screen and (max-width: 768px) {
  .publication-container .publication-card .book-details .book-category {
    font-size: 0.75rem;
  }
}
.publication-container .publication-card .book-details a {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-family: "poppins-semibold";
  color: #132656;
}
@media screen and (max-width: 991px) {
  .publication-container .publication-card .book-details a {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 768px) {
  .publication-container .publication-card .book-details a {
    font-size: 1rem;
  }
}
.publication-container .publication-card .book-details p {
  font-size: 0.875rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.publication-container .publication-card .book-details .publish-date {
  font-size: 1rem;
}
@media screen and (max-width: 991px) {
  .publication-container .publication-card .book-details .publish-date {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 768px) {
  .publication-container .publication-card .book-details .publish-date {
    font-size: 0.75rem;
  }
}
.publication-container .publication-card .book-details .publish-date span {
  font-family: "poppins-medium";
}
.publication-container .publication-card .book-details button {
  background-color: #cc0000;
  color: #fff;
  padding: 0.25rem 1.25rem;
  border: none;
  border-radius: 0.125rem;
}
.publication-container .publication-card:first-child {
  padding-top: 0;
}
.publication-container .publication-card:last-child {
  border-bottom: none;
}

body {
  font-family: "poppins-regular";
  font-size: 0.9375rem;
  color: #1b1b22;
}
@media screen and (max-width: 1600px) {
  body {
    font-size: 0.875rem;
  }
}

ul,
dl,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after, *::before, *:hover {
  transition: all linear 0.1s;
}

a {
  text-decoration: none;
  display: inline-block;
}

h2 {
  font-size: 1.9375rem;
}
@media screen and (max-width: 1600px) {
  h2 {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 1600px) {
  h5 {
    font-size: 1.235rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "poppins-semibold";
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #132656;
}

.common-title-lg {
  border-bottom: 1px solid #47567b;
  margin: 3.2rem 0 2.75rem;
}
.common-title-lg h1,
.common-title-lg h2 {
  font-size: 2rem;
  position: relative;
  display: inline-block;
  padding-bottom: 1rem;
  margin-bottom: 0;
  color: #132656;
}
@media screen and (max-width: 1600px) {
  .common-title-lg h1,
  .common-title-lg h2 {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 991px) {
  .common-title-lg h1,
  .common-title-lg h2 {
    font-size: 1.25rem;
  }
}
.common-title-lg h1::after,
.common-title-lg h2::after {
  content: "";
  position: absolute;
  bottom: -1.5px;
  left: 0;
  width: 100px;
  height: 3px;
  background-color: #006d2c;
}

.common-title {
  border-bottom: 1px solid #47567b;
  margin: 3.75rem 0 2.75rem;
}
.common-title h4,
.common-title h1 {
  font-size: calc(1.275rem + 0.3vw);
  position: relative;
  display: inline-block;
  padding-bottom: 1rem;
  margin-bottom: 0;
  color: #132656;
}
.common-title h4::after,
.common-title h1::after {
  content: "";
  position: absolute;
  bottom: -1.5px;
  left: 0;
  width: 100px;
  height: 3px;
  background-color: #006d2c;
}
@media screen and (max-width: 991px) {
  .common-title h4,
  .common-title h1 {
    font-size: 1.25rem;
  }
}

.breadcrumb {
  margin: 2rem 0;
}
.breadcrumb a,
.breadcrumb span {
  font-size: 0.875rem;
  color: #132656;
  font-family: "poppins-medium";
}

.training-detail-body h1,
.event-detail-body h1 {
  color: #132656;
  margin-bottom: 2rem;
  font-size: 2.4375rem;
}
@media screen and (max-width: 1200px) {
  .training-detail-body h1,
  .event-detail-body h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 991px) {
  .training-detail-body h1,
  .event-detail-body h1 {
    font-size: 1.65rem;
  }
}
@media screen and (max-width: 768px) {
  .training-detail-body h1,
  .event-detail-body h1 {
    font-size: 1.25rem;
  }
}

.training-status,
.event-status {
  position: relative;
  padding: 1.5rem 3rem;
  border: 2px solid #cc0000;
  border-radius: 0.75rem;
  margin: 3rem 0;
}
.training-status h5,
.event-status h5 {
  color: #132656;
  margin-left: 0.75rem;
}
.training-status .mini-status,
.event-status .mini-status {
  position: absolute;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #006d2c;
  color: #fff;
  border-radius: 0.35rem;
  padding: 0.25rem 1.5rem;
  font-size: 0.915rem;
}

.event-detail-text .btn-success {
  background-color: #006d2c !important;
}

.training-detail-text,
.event-detail-text,
.career-detail-text {
  font-size: 0.9375rem;
}
.training-detail-text p,
.event-detail-text p,
.career-detail-text p {
  margin-bottom: 2rem;
}
.training-detail-text p span,
.event-detail-text p span,
.career-detail-text p span {
  font-family: "poppins-extrabold";
}
.training-detail-text p:last-child,
.event-detail-text p:last-child,
.career-detail-text p:last-child {
  margin-bottom: 0;
}
.training-detail-text ul li,
.event-detail-text ul li,
.career-detail-text ul li {
  font-family: "poppins-semibold";
  margin-bottom: 1rem;
}
.training-detail-text ul li img,
.event-detail-text ul li img,
.career-detail-text ul li img {
  margin-right: 0.5rem;
}
.training-detail-text button,
.event-detail-text button,
.career-detail-text button {
  margin-bottom: 1rem;
  border: none;
  padding: 0.45rem 1.5rem;
  background-color: #ff0011;
  color: #fff;
  border-radius: 0.35rem;
}
.training-detail-text button.btn-success,
.event-detail-text button.btn-success,
.career-detail-text button.btn-success {
  background-color: #003f14;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1070px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    max-width: 1170px;
  }
}

.pagination-container {
  margin-top: 3.75rem;
}
.pagination-container h1,
.pagination-container h4 {
  color: #132656;
  margin-bottom: 2rem;
  font-size: calc(1.25rem + 0.3vw);
}
.pagination-container button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: #006d2c;
  color: #fff;
}
.pagination-container button::after {
  margin-left: 0.75rem;
  border-top-width: 0.35rem;
  border-right-width: 0.35rem;
  border-left-width: 0.35rem;
  vertical-align: 0.1rem;
}
.pagination-container button:hover, .pagination-container button:focus, .pagination-container button:active {
  background-color: #00531d !important;
  color: #fff !important;
}
.pagination-container button:hover::after, .pagination-container button:focus::after, .pagination-container button:active::after {
  border-top-color: #fff !important;
}
.pagination-container .pagination .page-item:first-child .page-link, .pagination-container .pagination .page-item:last-child .page-link {
  padding-left: 0.35rem;
  padding-right: 0.35rem;
  background-color: transparent;
}
.pagination-container .pagination .page-item:first-child .page-link:hover, .pagination-container .pagination .page-item:last-child .page-link:hover {
  background-color: #d4e6db;
}
.pagination-container .pagination .page-item.disabled .page-link {
  background-color: transparent;
}
.pagination-container .pagination .page-item.active .page-link {
  pointer-events: none;
  color: #fff;
  background-color: #006d2c;
}
.pagination-container .pagination .page-link {
  margin: 0 0.375rem;
  background-color: #d4e6db;
  border-radius: 0.25rem !important;
  padding-left: 0.85rem;
  padding-right: 0.85rem;
  border: none;
  color: #1b1b22;
}
.pagination-container .pagination .page-link:hover {
  background-color: #aedfc5;
}

.career-banner,
.connect-banner {
  margin-top: 2.5rem;
  position: relative;
  z-index: 0;
}
.career-banner img,
.connect-banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  top: 0;
  left: 0;
  position: absolute;
}
.career-banner h1,
.connect-banner h1 {
  margin-bottom: 0;
  padding: 9.5rem 0;
  text-align: center;
  color: #fff;
}

.row {
  --bs-gutter-x: 1.875rem;
}

.trade-data-card,
.useful-link-card {
  padding: 2.5rem 0;
  border-bottom: 1px solid #47567b;
}
.trade-data-card:first-child,
.useful-link-card:first-child {
  padding-top: 0;
}
.trade-data-card:last-child,
.useful-link-card:last-child {
  border-bottom: none;
}
.trade-data-card .row .col-lg-4 .trade-data-img,
.trade-data-card .row .col-lg-4 .useful-link-img,
.useful-link-card .row .col-lg-4 .trade-data-img,
.useful-link-card .row .col-lg-4 .useful-link-img {
  padding: 1.5rem 0;
  box-shadow: 0 2px 5px rgba(0, 83, 29, 0.25);
  border-radius: 1rem;
  text-align: center;
}
.trade-data-card .row .col-lg-4 .trade-data-img img,
.trade-data-card .row .col-lg-4 .useful-link-img img,
.useful-link-card .row .col-lg-4 .trade-data-img img,
.useful-link-card .row .col-lg-4 .useful-link-img img {
  height: 120px;
  -o-object-fit: contain;
     object-fit: contain;
}
.trade-data-card .row .col-lg-8,
.useful-link-card .row .col-lg-8 {
  display: flex;
  flex-direction: column;
}
.trade-data-card .row .col-lg-8 h4,
.useful-link-card .row .col-lg-8 h4 {
  font-size: 1.5rem;
}
.trade-data-card .row .col-lg-8 a,
.useful-link-card .row .col-lg-8 a {
  margin-bottom: 2.25rem;
  color: #006d2c;
  font-size: 1.1575rem;
}
.trade-data-card .row .col-lg-8 button,
.useful-link-card .row .col-lg-8 button {
  background-color: #003f14;
  color: #fff;
  border: none;
  border-radius: 0.175rem;
  padding: 0.25rem 2.75rem;
  font-size: 1rem;
  font-family: "poppins-semibold";
}

.chairman-card {
  text-align: center;
  width: 100%;
  background-color: #d4e6db;
  padding: 1.75rem 1.25rem;
  border-radius: 0.75rem;
}
.chairman-card span {
  margin: 0.75rem 0;
  font-family: "poppins-medium";
  color: #387e52;
}
.chairman-card h5,
.chairman-card p {
  color: #132656;
}
.chairman-card h5 {
  margin-bottom: 1.5rem;
}
.chairman-card p {
  font-family: "poppins-semibold";
  margin-bottom: 0;
  font-size: 0.75rem;
}