@import '../scss/custom/fonts';
@import '../scss/custom/colors';
@import '../scss/custom/spacings';

@import '../scss/components/topbar';
@import '../scss/components/navbar';
@import '../scss/components/footer';
@import '../scss/components/sidebar';
@import '../scss/components/forms';
@import '../scss/components/buttons';
@import '../scss/components/accordion';
@import '../scss/components/history-mission-vission';

@import '../scss/pages/training';
@import '../scss/pages/home';
@import '../scss/pages/category';
@import '../scss/pages/post';
@import '../scss/pages/partners';
@import '../scss/pages/directors-and-team';
@import '../scss/pages/research';
@import '../scss/pages/events';
@import '../scss/pages/event-detail';
@import '../scss/pages/about';
@import '../scss/pages/gallery';
@import '../scss/pages/trade-data';
@import '../scss/pages/contact';
@import '../scss/pages/career';
@import '../scss/pages/connect-with-bfti';
@import '../scss/pages/policy';
@import '../scss/pages/publications';

body {
  font-family: $poppins-regular;
  font-size: 0.9375rem;
  color: $body-color;

  @media screen and (max-width: 1600px) {
    font-size: 0.875rem;
  }
}

ul,
dl,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::after,
  &::before,
  &:hover {
    transition: all linear 0.1s;
  }
}

a {
  text-decoration: none;
  display: inline-block;
}

h2 {
  font-size: 1.9375rem;

  @media screen and (max-width: 1600px) {
    font-size: 1.75rem;
  }
}

h5 {
  @media screen and (max-width: 1600px) {
    font-size: 1.15rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $poppins-semibold;

  a {
    color: $body-heading-color;
  }
}

h5 {
  font-size: 1.125rem;
}

.common-title-lg {
  border-bottom: 1px solid $border-color;
  margin: 3.2rem 0 2.75rem;

  h1,
  h2 {
    font-size: 2rem;
    position: relative;
    display: inline-block;
    padding-bottom: 1rem;
    margin-bottom: 0;
    color: $body-heading-color;

    @media screen and (max-width:1600px) {
      font-size: 1.75rem;
    }

    @media screen and (max-width: 991px) {
      font-size: 1.25rem;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -1.5px;
      left: 0;
      width: 100px;
      height: 3px;
      background-color: $primary;
    }
  }
}

.common-title {
  border-bottom: 1px solid $border-color;
  margin: 3.75rem 0 2.75rem;

  h4,
  h1 {
    font-size: calc(1.275rem + .3vw);
    position: relative;
    display: inline-block;
    padding-bottom: 1rem;
    margin-bottom: 0;
    color: $body-heading-color;

    &::after {
      content: '';
      position: absolute;
      bottom: -1.5px;
      left: 0;
      width: 100px;
      height: 3px;
      background-color: $primary;
    }

    @media screen and (max-width: 991px) {
      font-size: 1.25rem;
    }
  }
}

.breadcrumb {
  margin: 2rem 0;

  a,
  span {
    font-size: 0.875rem;
    color: $body-heading-color;
    font-family: $poppins-medium;
  }
}

.nav-title {
  h2 {
    @media screen and (max-width: 768px) {
      font-size: 1.25rem;
    }
  }

  h5 {
    @media screen and (max-width: 768px) {
      font-size: 0.875rem;
    }
  }
}

.training-detail-body,
.event-detail-body {
  h1 {
    color: $body-heading-color;
    margin-bottom: 2rem;
    font-size: 2.4375rem;

    @media screen and (max-width: 1200px) {
      font-size: 2rem;
    }

    @media screen and (max-width: 991px) {
      font-size: 1.65rem;
    }

    @media screen and (max-width:768px) {
      font-size: 1.25rem;
    }
  }
}

.training-status,
.event-status {
  position: relative;
  padding: 2.5rem 3rem;
  border: 2px solid $danger;
  border-radius: 0.75rem;
  margin: 3rem 0;

  @media screen and (max-width: 768px) {
    padding: 1.75rem 1.25rem;

    img {
      height: 16px;
    }
  }

  h5 {
    color: $body-heading-color;
    margin-left: 0.75rem;

    @media screen and (max-widtH: 991px) {
      font-size: 1rem;
    }

    @media screen and (max-width: 768px) {
      font-size: 0.875rem;
    }
  }

  .mini-status {
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $primary;
    color: $white;
    border-radius: 0.35rem;
    padding: 0.25rem 1.5rem;
    font-size: 0.915rem;
  }
}

.event-detail-text {
  .btn-success {
    background-color: $primary !important;
  }
}

.training-detail-text,
.event-detail-text,
.career-detail-text {
  font-size: 0.9375rem;

  p {
    margin-bottom: 2rem;

    span {
      font-family: $poppins-extrabold;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    li {
      img {
        margin-right: 0.5rem;
      }

      font-family: $poppins-semibold;
      margin-bottom: 1rem;

      @media screen and (max-width: 768px) {
        font-size: 0.875rem;

        img {
          width: 18px;
        }
      }
    }
  }

  a,
  button {
    margin-bottom: 1rem;
    border: none;
    padding: 0.45rem 1.5rem;
    background-color: $red;
    color: $white;
    border-radius: 0.35rem;

    &.btn-success {
      background-color: $primary-dark-2;
    }
  }
}

.container {
  @media screen and (min-width: 1400px) {
    max-width: 1100px;
  }

  @media screen and (min-width: 1600px) {
    max-width: 1170px;
  }
}

.pagination-container {
  margin-top: 3.75rem;

  h1,
  h4 {
    color: $body-heading-color;
    margin-bottom: 2rem;
    font-size: calc(1.25rem + 0.3vw);
  }

  button {
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    background-color: $primary;
    color: $white;

    &::after {
      margin-left: 0.75rem;
      border-top-width: 0.35rem;
      border-right-width: 0.35rem;
      border-left-width: 0.35rem;
      vertical-align: 0.1rem;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: $primary-dark !important;
      color: $white !important;

      &::after {
        border-top-color: $white !important;
      }
    }
  }

  .pagination {
    .page-item {

      &:first-child,
      &:last-child {
        .page-link {
          padding-left: 0.35rem;
          padding-right: 0.35rem;
          background-color: transparent;

          &:hover {
            background-color: $primary-light;
          }
        }
      }

      &.disabled {
        .page-link {
          background-color: transparent;
        }
      }

      &.active {
        .page-link {
          pointer-events: none;
          color: $white;
          background-color: $primary;
        }
      }
    }

    .page-link {
      margin: 0 0.375rem;
      background-color: $primary-light;
      border-radius: 0.25rem !important;
      padding-left: 0.85rem;
      padding-right: 0.85rem;
      border: none;
      color: $body-color;

      &:hover {
        background-color: $primary-light-2;
      }
    }
  }
}

.career-banner,
.connect-banner {
  margin-top: 2.5rem;
  position: relative;
  z-index: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    top: 0;
    left: 0;
    position: absolute;
  }

  h1 {
    margin-bottom: 0;
    padding: 9.5rem 0;
    text-align: center;
    color: $white;
  }
}

.trade-data-card,
.useful-link-card {
  padding: 2.5rem 0;
  border-bottom: 1px solid $border-color;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: none;
  }

  .row {
    .col-lg-4 {

      .trade-data-img,
      .useful-link-img {
        padding: 1.5rem 0;
        box-shadow: 0 2px 5px rgba($primary-dark, 0.25);
        border-radius: 1rem;
        text-align: center;

        img {
          height: 120px;
          object-fit: contain;
        }
      }
    }

    .col-lg-8 {
      display: flex;
      flex-direction: column;

      h4 {
        font-size: 1.5rem;
      }

      a {
        margin-bottom: 2.25rem;
        color: $primary;
        font-size: 1.1575rem;
      }

      button,
      a.visit {
        display: inline-block;
        background-color: $primary-dark-2;
        color: $white;
        border: none;
        border-radius: 0.175rem;
        padding: 0.25rem 2.75rem;
        font-size: 1rem;
        font-family: $poppins-semibold;
      }

      @media screen and (max-width: 991px) {
        h4 {
          font-size: 1.125rem;
        }

        a,
        button,
        .visit {
          font-size: 1rem;
        }
      }

      @media screen and (max-width: 576px) {

        a,
        button,
        a.visit {
          font-size: 0.875rem;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding-bottom: 0;
  }
}

.chairman-card {
  text-align: center;
  width: 100%;
  background-color: $primary-light;
  padding: 2rem 1.25rem 3rem;
  border-radius: 0.75rem;

  img {
    width: 75%;
  }

  span {
    margin: 0.75rem 0;
    font-family: $poppins-medium;
    color: $primary-light-4;
  }

  h5,
  p {
    color: $body-heading-color;
  }

  h5 {
    margin-bottom: 1.5rem;
    font-size: 1.15rem;
  }

  p {
    font-family: $poppins-semibold;
    margin-bottom: 0;
    font-size: 0.75rem;
  }

  @media screen and (max-width: 576px) {
    padding: 2rem 1.25rem 1.25rem;
  }
}

.select-filter {
  appearance: none;
  width: auto;
  display: inline-block;
  padding: .5rem 2rem .5rem 1rem;
  background-color: $primary;
  border: 1px solid $primary;
  color: $white !important;
  border-radius: 0.25rem;
  background-image: url(../../bfti-project/assets/icons/angle-down.png);
  background-position: right 12px center;
  background-repeat: no-repeat;
  background-size: 11px;

  option {
    background-color: $white;
    color: $primary-dark;
  }
}

.rounded-1 {
  border-radius: 0.1875rem !important;
}