#events {
  margin-bottom: 3rem;

  .event-banner {
    position: relative;
    z-index: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
      top: 0;
      left: 0;
      position: absolute;
    }

    h1 {
      padding: 9.5rem 0;
      text-align: center;
      color: $white;
    }
  }

  .pagination-container {
    padding-bottom: 2.5rem;
    border-bottom: 1px solid $border-color;
  }

  .events-container {
    .event-card {
      padding: 2.5rem 0;
      border-bottom: 1px solid $border-color;

      .event-category {
        >span {
          font-family: $poppins-medium;
          font-size: 0.875rem;

          &.event-organizer {
            color: $body-heading-color;

            span {
              &:first-child {
                margin-right: 0.5rem;
                color: $amber-red;
              }
            }
          }
        }
      }

      h4 {
        color: $body-heading-color;

        @media screen and (max-width: 576px) {
          font-size: 1.125rem;
        }
      }

      .event-detail {
        p {
          display: flex;
          align-items: center;
          margin-right: 1rem;
          font-family: $poppins-semibold;
          color: $body-heading-color;

          @media screen and (min-width: 1600px) {
            font-size: 1rem;
          }

          img {
            margin-right: 0.5rem;
          }
        }
      }

      &:last-child {
        border-bottom: none;
      }

      @media screen and (max-width:768px) {
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }

  @media screen and (min-width: 991px) {
    margin-bottom: 5rem;
  }
}