#home {
  .sidebar-shortcuts {
    border-radius: 0;
    margin-top: 1rem;

    @media screen and (min-width: 991px) {
      margin-top: 0;
    }
  }

  .banner {
    padding: 1rem 0;
    background-color: $gray-100;

    .banner-middle {
      background-color: $primary;

      div>p {
        padding: 0.75rem 1rem;
        font-size: 0.75rem;
        background-color: $primary-dark-alt;
        color: $white;
        margin-bottom: 0;
        margin-top: 1rem;
      }

      .slick-track,
      .slick-list {
        height: 100% !important;
      }

      .slick-slide {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .banner-event-date {
        align-items: center;
        padding: 1rem 1rem 0.35rem;

        span {
          font-size: 0.75rem;
          font-family: $poppins-medium;
          color: $white;

          &:last-child {
            margin-left: 1rem;
            padding: 0.15rem 1rem;
            background-color: $danger;
            border-radius: 0.125rem;
          }
        }
      }

      a {
        padding: 0 1rem;

        h4 {
          width: 95%;
        }

        span {
          text-align: right;
          width: 15%;
        }
      }
    }

    .slider-button {
      z-index: 999999999;
      position: absolute;
      bottom: 52px;
      right: 36px;
    }

    .bfti-updates {
      background-color: $primary-light-2;
      padding: 1rem 0.75rem 0.75rem;
      height: 100%;

      h4 {
        color: $primary-dark;
      }

      .update-card-container {
        overflow-y: auto;
        max-height: 59vh;


        .update-card {
          min-width: 100%;
          margin-bottom: 0.5rem;
          font-size: 0.8125rem;
          padding: 0.75rem;
          border: 1px solid $primary-light-3;
          border-left-width: 6px;
          background-color: $white;
          color: $body-heading-color;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    @media screen and (min-width: 991px) {
      padding: 1rem 0 3rem;
    }
  }

  .common-title {
    margin-top: 2rem;
    margin-bottom: 1.25rem;

    h4 {
      color: $body-heading-color;

      &::after {
        background-color: $primary-light-4;
      }
    }
  }

  .scrolling-news {
    span {
      font-family: $poppins-semibold;
      color: $brick-red;
    }

    a {
      color: #23292e;
      font-family: $poppins-semibold;
    }
  }

  .home-card {
    margin-bottom: 1.5rem;

    .d-flex {
      span {
        color: $white;
        font-family: $poppins-medium;
        padding: 0.075rem 0.75rem;
        font-size: 0.75rem;
        border-radius: 3px;

        &:first-child {
          background-color: $primary;
          margin-right: 0.5rem;
        }

        &:last-child {
          background-color: $danger;
        }
      }
    }

    h5 {
      color: $body-heading-color;
      margin-bottom: 1.75rem;

      @media screen and (max-width: 1600px) {
        font-size: 1.076rem;
      }
    }

    .read-more {
      background-color: $primary;
      padding: 0.35rem 1.25rem;
      font-size: 0.875rem;
      color: $white;
      border: none;

      &:hover,
      &:focus {
        background-color: $primary-dark;
      }
    }
  }

  .home-thumb {
    padding-bottom: 0.5rem;
    width: 100%;

    h6 {
      color: $body-heading-color;
      margin-bottom: 0.25rem;
    }

    span {
      color: $primary;
      font-size: 0.6875rem;
    }

    .read-more {
      border: 1px solid $primary;
      color: $primary;
      background-color: $white;
      padding: 0.125rem 0.5rem;
      font-size: 0.75rem;

      &:hover {
        background-color: $primary;
        color: $white;
      }
    }

    .row {
      padding-right: 0.75rem;

      .col-8 {
        padding-bottom: 0.5rem;
        border-bottom: 1px solid rgba($border-color, 0.5);
      }
    }


    &:last-child {
      .col-8 {
        border-bottom: none;
      }
    }

    @media screen and (min-width: 576px) {
      width: 100%;
    }

    @media screen and (min-width: 768px) {
      width: 50%;
    }

    @media screen and (min-width: 991px) {
      width: 100%;

      &:last-child {
        .col-8 {
          border-bottom: none;
        }
      }
    }
  }

  .partners {
    padding-bottom: 3rem;

    h4 {
      margin: 2rem 0;
      text-align: center;
      color: $body-heading-color;
    }

    .d-flex {
      div {
        width: calc(100% / 3);

        img {
          width: 100%;
          max-height: 120px;
          object-fit: contain;
        }

        @media screen and (min-width: 991px) {
          width: calc(100% / 5);
        }

        @media screen and (min-width: 1200px) {
          width: calc(100% / 7);
        }
      }
    }
  }
}