.training-body {
  h4,
  h5,
  h6 {
    color: $body-heading-color;
  }
}

.training-card {
  margin-bottom: 4.5rem;
  > img {
    width: 100%;
  }
  > a {
    display: inline-block;
    margin: 1rem 0;
    color: $body-heading-color;
    font-family: $poppins-semibold;
    font-size: 1.125rem;
  }
  .open-badge {
    display: inline-block;
    font-family: $poppins-semibold;
    color: $white;
    padding: 0.35rem 1.5rem 0.35rem 0.5rem;
    background-image: url(../../assets/images/training/badge.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .close-badge {
    display: inline-block;
    font-family: $poppins-semibold;
    color: $white;
    padding: 0.35rem 1.5rem 0.35rem 0.5rem;
    background-image: url(../../assets/images/training/close-badge.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

.col-lg-4 {
  &:last-child {
    .training-card {
      margin-bottom: 0;
    }
  }
}
