#training {
  .training-banner {
    h1 {
      padding: 9.5rem 0;
      background-image: url(../../bfti-project/assets/images/events/event-main-banner.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      color: $white;
    }
  }

  .training-body {

    h4,
    h5,
    h6 {
      color: $body-heading-color;
    }
  }

  .training-card {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid $border-color;

    p {
      font-family: $poppins-semibold;
    }

    h4 {
      color: $body-heading-color;
      margin-bottom: 2.5rem;
    }

    div {
      &:last-child {
        p {
          color: $body-heading-color;
        }
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .col-lg-4 {
    &:last-child {
      .training-card {
        margin-bottom: 0;
      }
    }
  }

  .pagination-container {
    border-bottom: 1px solid $border-color;
  }
}

#training-details {
  margin-bottom: 2rem;

  .training-status {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .related-training-card {
    a {
      font-size: 1.125rem;
      color: $body-heading-color;
      font-family: $poppins-semibold;
      margin: 1rem 0;
    }

    p {
      padding-left: 0.5rem;
      color: $white;
      font-family: $poppins-medium;

      &.open-badge {
        background-image: url(../../bfti-project/assets/images/training/badge.png);
        background-repeat: no-repeat;
        background-size: contain;
      }

      &.close-badge {
        background-image: url(../../bfti-project/assets/images/training/close-badge.png);
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  @media screen and (min-width: 991px) {
    margin-bottom: 4rem;
  }
}