<div class="bfti-history">
  <div class="row">
    <div class="col-md-6">
      <img src="/assets/images/about/pic-1.jpg" alt="pic-1" class="w-100" />
    </div>
    <div class="col-md-6">
      <h4 class="mt-4 mt-md-0">History</h4>
      <p class="mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quae quam at, dignissimos totam iusto nulla ad ut cupiditate rem commodi, fugit, sed odit accusamus molestias exercitationem.
        Consectetur, cumque reprehenderit?
      </p>
      <p class="mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet enim est perspiciatis fuga accusantium, porro assumenda reiciendis quo explicabo facilis ab dolorem repellendus, veritatis
        deserunt?
      </p>
      <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem ipsa vitae architecto cumque exercitationem maxime quis quae, tenetur sunt!</p>
      <p class="mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet enim est perspiciatis fuga accusantium, porro assumenda reiciendis quo explicabo facilis ab dolorem repellendus, veritatis
        deserunt?
      </p>
      <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi blanditiis in accusamus, sapiente totam debitis.</p>
    </div>
  </div>
</div>
<div class="bfti-mission">
  <div class="row">
    <div class="col-md-6">
      <img src="/assets/images/about/pic-2.jpg" alt="pic-2" class="w-100" />
    </div>
    <div class="col-md-6">
      <h4 class="mt-4 mt-md-0">Mission</h4>
      <p class="mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quae quam at, dignissimos totam iusto nulla ad ut cupiditate rem commodi, fugit, sed odit accusamus molestias exercitationem.
        Consectetur, cumque reprehenderit?
      </p>
      <p class="mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet enim est perspiciatis fuga accusantium, porro assumenda reiciendis quo explicabo facilis ab dolorem repellendus, veritatis
        deserunt?
      </p>
      <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem ipsa vitae architecto cumque exercitationem maxime quis quae, tenetur sunt!</p>
      <p class="mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet enim est perspiciatis fuga accusantium, porro assumenda reiciendis quo explicabo facilis ab dolorem repellendus, veritatis
        deserunt?
      </p>
      <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi blanditiis in accusamus, sapiente totam debitis.</p>
    </div>
  </div>
</div>
<div class="bfti-vision">
  <div class="row">
    <div class="col-md-6">
      <img src="/assets/images/about/pic-3.jpg" alt="pic-3" class="w-100" />
    </div>
    <div class="col-md-6">
      <h4 class="mt-4 mt-md-0">Vision</h4>
      <p class="mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quae quam at, dignissimos totam iusto nulla ad ut cupiditate rem commodi, fugit, sed odit accusamus molestias exercitationem.
        Consectetur, cumque reprehenderit?
      </p>
      <p class="mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet enim est perspiciatis fuga accusantium, porro assumenda reiciendis quo explicabo facilis ab dolorem repellendus, veritatis
        deserunt?
      </p>
      <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore rem ipsa vitae architecto cumque exercitationem maxime quis quae, tenetur sunt!</p>
      <p class="mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet enim est perspiciatis fuga accusantium, porro assumenda reiciendis quo explicabo facilis ab dolorem repellendus, veritatis
        deserunt?
      </p>
      <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi blanditiis in accusamus, sapiente totam debitis.</p>
    </div>
  </div>
</div>
