<nav class="bfti-navbar">
  <div class="nav-brand">
    <div class="container">
      <div class="row py-4 align-items-center pe-0">
        <div class="col-lg-2 col-md-3 text-center text-md-start">
          <img src="/assets/images/bfti-logo.png" height="71" alt="bfti-logo" />
        </div>
        <div class="col-lg-10 col-md-9 row pe-0 align-items-center">
          <div class="col-xl-9 text-xl-center text-md-end text-center">
            <h2 class="mb-0">Bangladesh Foreign Trade Institute</h2>
          </div>
          <div class="col-xl-3 text-xl-start text-md-end text-center">
            <h5 class="fw-medium font-italic ms-xxl-2 mb-0">
              <span>BFTI Stands for Excellence in Trade and Economic Research</span>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navmenu-container">
    <div class="container">
      <ul class="nav-menu">
        <li class="nav-item">
          <a href="#" class="nav-link">About BFTI </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Research</a>
          <ul class="menu">
            <li><a href="#">menu 1</a></li>
            <li>
              <a href="#">menu 3</a>
              <ul>
                <li><a href="#">sub menu 1</a></li>
                <li><a href="#">sub menu 2</a></li>
                <li><a href="#">sub menu 3</a></li>
              </ul>
            </li>
            <li><a href="#">menu 2</a></li>
          </ul>
        </li>
        <li class="nav-item active">
          <a href="#" class="nav-link">Training</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Academic</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Partnerships</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Events & Activities</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
