<nav class="bfti-navbar">
  <div class="nav-brand">
    <div class="container">
      <div class="row py-4 align-items-center pe-0">
        <div class="col-lg-2 col-md-3 text-center text-md-start">
          <a href="/index.html"><img src="/assets/images/bfti-logo.png" height="71" alt="bfti-logo" /></a>
        </div>
        <div class="col-lg-10 col-md-9 row pe-0 align-items-center">
          <div class="col-xl-9 text-xl-center text-md-end text-center">
            <h2 class="mb-0">Bangladesh Foreign Trade Institute</h2>
          </div>
          <div class="col-xl-3 text-xl-start text-md-end text-center">
            <h5 class="fw-medium font-italic ms-xxl-2 mb-0">
              <span>BFTI Stands for Excellence in Trade and Economic Research</span>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navmenu-container">
    <div class="container">
      <div class="nav__toggle d-flex align-items-center justify-content-between d-lg-none">
        <a href="/pages/about-us.html" class="text-white">About BFTI</a>
        <button class="nav__toggler">
          <img src="/assets/icons/burger-menu.svg" class="nav__open" alt="burger-menu" />
          <img src="/assets/icons/close.svg" class="nav__close" alt="close" />
        </button>
      </div>
      <ul class="nav-menu">
        <li class="nav-link d-none d-lg-block"><a href="/pages/about-us.html">About BFTI</a></li>
        <li class="nav-link">
          <a href="#">Research <img class="ms-2" src="/assets/icons/arrow-down.svg" alt="arrow-down" /></a>
          <ul class="submenu">
            <li><a href="/pages/research.html">Research Homepage</a></li>
            <li><a href="#">menu 2 dropdown 2</a></li>
            <li><a href="#">menu 2 dropdown 3</a></li>
          </ul>
        </li>
        <li class="nav-link">
          <a href="#">Training<img class="ms-2" src="/assets/icons/arrow-down.svg" alt="arrow-down" /></a>
          <ul class="submenu">
            <li><a href="/pages/training.html">Training Homepage</a></li>
            <li><a href="#">menu 2 dropdown 2</a></li>
            <li><a href="#">menu 2 dropdown 3</a></li>
          </ul>
        </li>
        <li class="nav-link"><a href="#">Academic</a></li>
        <li class="nav-link"><a href="/pages/partnership.html">Partnerships</a></li>
        <li class="nav-link"><a href="#">Events & Activities</a></li>
        <li class="nav-link"><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<script src="/js/script.js"></script>
