<aside class="sidebar-directors">
  <div class="row">
    <div class="col-sm-6 col-lg-12 pb-4 pb-lg-3">
      <div class="director-thumb">
        <div class="d-flex align-items-center">
          <div class="w-35">
            <img src="/assets/images/directors/director-1.jpg" class="w-100" alt="director-1" />
          </div>
          <div class="w-65">
            <small>Chairman</small>
            <p>Mr. Tipu Munshi, MP</p>
          </div>
        </div>
        <p class="director-thumb-info">Hon'ble Minister, Ministry of Commerce, Bangladesh Secretariat and Chairman, Board of Directors, BFTI, Dhaka</p>
      </div>
    </div>
    <div class="col-sm-6 col-lg-12 pb-4 pb-lg-3">
      <div class="director-thumb">
        <div class="d-flex align-items-center">
          <div class="w-35">
            <img src="/assets/images/directors/director-2.jpg" class="w-100" alt="director-2" />
          </div>
          <div class="w-65">
            <small>Vice-Chairman</small>
            <p>Mr.Tapan Kanti Ghosh</p>
          </div>
        </div>
        <p class="director-thumb-info">Board of Directors, BFTI and Senior Secretary, Ministry of Commerce, Government of Bangladesh</p>
      </div>
    </div>
    <div class="col-sm-6 col-lg-12">
      <div class="director-thumb">
        <div class="d-flex align-items-center">
          <div class="w-35">
            <img src="/assets/images/directors/director-3.jpg" class="w-100" alt="director-3" />
          </div>
          <div class="w-65">
            <small>Chief Executive Officer</small>
            <p>Dr. Md. Jafar Uddin</p>
          </div>
        </div>
        <p class="director-thumb-info">
          CEO <br />
          Bangladesh Foreign Trade Institute
        </p>
      </div>
    </div>
  </div>
</aside>
