<div class="bfti-topbar">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-3 col-sm-6 col-auto d-flex align-items-center">
        <span class="fs-md text-primary-dark fw-semibold">22 October 2023 | 12:36pm</span>
      </div>
      <div class="col-lg-3 col-sm-6 col-auto d-flex align-items-center ms-lg-5 justify-content-end justify-content-lg-start">
        <span class="fs-md text-primary fw-semibold d-none d-sm-inline-block">Follow Us</span>
        <a href="#" class="ms-2">
          <img src="/assets/icons/facebook.svg" height="16" alt="facebook" />
        </a>
        <a href="#" class="ms-2">
          <img src="/assets/icons/youtube-filled.svg" height="18" alt="youtube-filled" />
        </a>
        <a href="#" class="ms-2">
          <img src="/assets/icons/twitter.svg" height="16" alt="twitter" />
        </a>
        <a href="#" class="ms-2">
          <img src="/assets/icons/linkedin.svg" height="14" alt="linkedin" />
        </a>
        <a href="#" class="ms-2">
          <img src="/assets/icons/user.svg" height="16" alt="user" />
        </a>
      </div>
      <div class="col-lg-3 d-flex ps-lg-5">
        <input type="text" class="form-control form-control-sm" name="search" />
        <button class="btn btn-sm btn-primary ms-2">
          <img src="/assets/icons/search-alt.svg" height="16" alt="search-alt" />
        </button>
      </div>
    </div>
  </div>
</div>
