@font-face {
  font-family: 'poppins-regular';
  src: url(../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'poppins-medium';
  src: url(../assets/fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: 'poppins-semibold';
  src: url(../assets/fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: 'poppins-extrabold';
  src: url(../assets/fonts/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: 'poppins-mediumItalic';
  src: url(../assets/fonts/Poppins-MediumItalic.ttf);
}

// font variables

$poppins-regular: 'poppins-regular';
$poppins-medium: 'poppins-medium';
$poppins-semibold: 'poppins-semibold';
$poppins-extrabold: 'poppins-extrabold';
$poppins-mediumItalic: 'poppins-mediumItalic';

// font classes
.fs-md {
  font-size: 0.875rem !important;

  @media screen and (max-width: 1600px) {
    font-size: 0.8125rem !important;
  }
}

.fw-semibold {
  font-family: $poppins-semibold !important;
  font-weight: inherit !important;
}

.fw-medium {
  &.font-italic {
    font-family: $poppins-mediumItalic !important;
  }
}

.fw-medium {
  font-family: $poppins-medium !important;
}

.fs-sm {
  font-size: 0.7rem !important;

  @media screen and (max-widtH: 1600px) {
    font-size: 0.6375rem !important;
  }
}

.form-control {
  font-size: inherit;
}