.ps-xxxl-5 {
    @media screen and (min-width:1600px) {
        padding-right: 3rem !important;
    }
}

.py-xxxl-4 {
    @media screen and (min-width: 1600px) {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }
}