.btn-primary {
  color: $white;
  background-color: $primary;
  border-color: $primary;
  &:hover {
    background-color: $primary-dark;
    border-color: $primary-dark;
  }
}

.btn-danger {
  background-color: $danger;
  border-color: $danger;
  &:hover {
    background-color: $danger-dark;
    border-color: $danger-dark;
  }
}
