.bfti-navbar {
  .navmenu-container {
    background-color: $primary-2;

    .container {
      .nav-toggle {
        display: none;
      }

      .nav-menu {
        background-color: $primary;

        ul {
          position: relative;
          display: flex;

          li {
            position: relative;
            list-style: none;

            a {
              color: #eee;
              padding: 0.75rem 1.25rem;

              i {
                margin-left: 0.5rem;
                font-size: 0.75rem;
              }

              &:hover {
                background-color: $primary-dark;
                color: $white;
              }
            }

            ul {
              min-width: 100%;
              z-index: 99;
              display: none;
              position: absolute;
              left: 0;
              background-color: $white;
              box-shadow: 0 3px 5px 0 rgba($primary, 0.5);

              li {
                width: 100%;
                position: relative;

                a {
                  width: 100%;
                  border-bottom: 1px solid rgba($primary, 0.25);
                  background-color: #fff;
                  color: $primary;
                  text-wrap: nowrap;
                }

                ul {
                  display: none;
                  position: absolute;
                  top: 0;
                  left: 100%;
                }
              }
            }

            &:hover {
              >ul {
                display: block;
              }
            }
          }

          @media screen and (min-width: 991px) {
            .nav-item {
              position: relative;

              &::after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-top: 0 solid $white;
              }

              &:hover {
                &::after {
                  border-top-width: 7px;
                }
              }
            }
          }
        }
      }
    }
  }

  .bfti-slogan {
    @media screen and (max-width: 768px) {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 992px) {
  .navmenu-container {
    &.active {
      .nav-toggle {
        padding: 1rem 1rem 0.5rem;

        .nav__open {
          display: none;
        }

        .nav__close {
          display: block;
        }
      }

      .nav-menu {
        display: block;
      }
    }
  }

  .nav-toggle {
    padding: 1rem;
    display: flex !important;
    justify-content: space-between;
    background-color: $primary;

    a {
      color: $white;
    }

    button {
      border: none;
      background-color: transparent;

      .nav__open {
        display: block;
      }

      .nav__close {
        display: none;
      }
    }
  }

  .nav-menu {
    display: none;

    ul {
      flex-direction: column;

      li {
        width: 100%;

        a {
          width: 100%;
        }

        ul {
          box-shadow: none !important;
          position: relative !important;

          li {
            ul {
              left: 0 !important;

              li {
                a {
                  padding-left: 3rem !important;
                }
              }
            }
          }
        }
      }
    }
  }
}