.sidebar-cats,
.sidebar-about {
  li {
    margin-bottom: 1.55rem;
    a {
      color: $body-heading-color;
      font-family: $poppins-semibold;
    }
  }
}

.sidebar-cats,
.sidebar-shortcuts {
  margin-top: 3rem;
  background-color: $primary;
  border-radius: 0.75rem;
  padding: 1.5rem 2.5rem 1.5rem 0;
  h4 {
    margin: 0.75rem 0 1.25rem;
    padding-left: 1.25rem;
    color: $white;
  }
  li {
    margin: 0.25rem 0;
    width: 100%;
    padding: 0.52rem 0 0.52rem 1.25rem;
    position: relative;
    a {
      font-family: $poppins-regular;
      color: $white;
    }
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-left: 0 solid rgba($white, 0.35);
      border-bottom: 8px solid transparent;
    }
    &:hover {
      background-color: $primary-dark;
      a {
        color: $primary-light;
      }
      &::after {
        border-left: 8px solid rgba($white, 0.35);
      }
    }
  }
}

.sidebar-cats {
  border-radius: 0.5rem;
  margin-top: 6rem;
  li {
    margin: 1rem 0;
  }
}

.sidebar-directors {
  margin-top: 3rem;
  margin-bottom: 3rem;
  .director-thumb {
    height: 100%;
    border-radius: 0.5rem;
    background-color: $primary-light;
    padding: 0.75rem;
  }
  .w-35 {
    width: 35%;
    padding-right: 1rem;
    img {
      border: 1px solid $primary-light-3;
    }
  }
  .w-65 {
    width: 65%;
    small {
      color: $primary;
      font-family: $poppins-medium;
      font-size: 0.625rem;
    }
    p {
      margin-bottom: 0;
      font-family: $poppins-semibold;
      color: $body-heading-color;
      font-size: 0.75rem;
    }
  }
  .director-thumb-info {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    font-size: 0.75rem;
    font-family: $poppins-medium;
    color: $body-heading-color;
  }
  @media screen and (min-width: 991px) {
    margin-top: 6rem;
  }
}

.sidebar-publication {
  margin-top: 3.5rem;
  padding: 1.25rem 3rem 1.25rem 0;
  border: 1px solid $primary;
  border-radius: 0.5rem;
  li {
    position: relative;
    margin-bottom: 1.15rem;
    width: 100%;
    padding: 0.52rem 0 0.52rem 1.25rem;
    a {
      color: $body-color;
    }
    &:hover {
      background-color: $primary;
      a {
        color: $white;
      }
      &::after {
        border-left: 8px solid $white;
      }
    }
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 14px;
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-left: 0px solid $white;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      // transition: all linear 0.15s;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
